@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&family=Sofia+Sans:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  min-height: 100%;
  letter-spacing: 2px;
  transition: all 200ms;
}

h4 {
  @apply text-lg md:text-2xl;
}

p,
a {
  @apply text-base md:text-lg;
}
